*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 215, 215);
}
#title{
    text-align: center;
    padding: 40px 0;
}
h1{
    padding-bottom: 20px;
}
#img-div{
    background-color: #fff;
    text-align: center;
}
#img-caption{
    padding: 15px 0;
}


#ul_timeline{
    padding: 40px 30%;
}

li{
    padding-bottom: 20px;
    line-height: 20px;
}

.footer_phrase{
    line-height: 25px;
    font-style: italic;
    padding: 0 30% 0 30%;
}