*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 215, 215);
}
#title{
    text-align: center;
    padding: 40px 0;
}
h1{
    padding-bottom: 20px;
}
#img-div{
    background-color: #fff;
    
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
#img-caption{
    padding: 15px 0;
    text-align: center;
}
#tribute-info{
    text-align: center;
}

h3{
    text-align: center;
    padding: 20px 0; 
}
a{
    text-decoration: none;
    color: green;
}
#ul_timeline{
    padding: 40px 30%;
}

li{
    padding-bottom: 20px;
    line-height: 20px;
}

.footer_phrase{
    line-height: 25px;
    font-style: italic;
    padding: 0 30% 0 30%;
}